.footer {
    padding: 7rem 0;
    background-color: #100e1c;
}

.footer__inner {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 3rem;

    color: #707070;
    font-size: 1.7rem;
    font-weight: 400;

    a {
        color: inherit;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.footer__info {
    display: flex;
    flex-direction: column;

    img,
    p,
    a:nth-child(n) {
        margin-bottom: 1.5rem;
    }
}

.footer__links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
}
