.info {
    margin: 7rem 0;
}

.info__inner {
    position: relative;
}

.info__map {
}

.info__content {
    padding: 4rem;

    color: #9B9B9B;
    background-color: $grey;
    font-size: 1.7rem;
    font-weight: 400;

    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.info__title {
    margin-bottom: 3rem;
    color: #228BD6;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 9.4px;
}

.info__text {
    margin-bottom: 2rem;

    a {
        font-weight: 700;
    }
}
