.header__nav {
    background-color: $red;
}

/* Навигация в header
==============================*/

.header__nav .nav {
    display: flex;
}

.header__nav li {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.header__nav li a {
    display: block;
    padding: 1.5rem 2rem;

    color: $white;
    font-size: 1.45rem;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
        opacity: .7;
    }
}

.header__nav .current-menu-item a {
    opacity: .7;
}

.menu-item-has-children {
    position: relative;

    &:hover {
        border-bottom: 1px solid $white;
        .sub-menu {
            display: block;
        }
    }
}

.header__nav li .sub-menu {
    display: none;
    min-width: 100%;
    max-width: 130%;
    background-color: darken($red, 8%);

    position: absolute;
    top: calc(100% + 1px);
    z-index: 1;
}

.header__nav li .sub-menu li {
    border-bottom: .5px solid $white;
}


.nav__footer {
    padding-left: 2rem;
    line-height: 28px;
    list-style: square;
}












