.services__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;

    color: #7a7a7a;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 28px;
}

.services__illustration {
    text-align: center;
}

.services__text {
    margin-bottom: 1.5rem;
}
