<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__info">
                <img src="assets/img/logoblack.png" alt="Element EKB">
                <p class="footer__location">Маяковского 25/a, оф.914.</p>
                <a href="tel:+73432110727">+7 (343) 211-07-27</a>
                <a href="tel:+73432110728">+7 (343) 211-07-28</a>
                <p class="footer__mail">Почтовый ящик: <br><br><a href="mailto:211element@mail.ru">211element@mail.ru</a></p>
            </div>
            <div class="footer__links">
                <nav>
                    <ul class="nav__footer">
                        <li>
                            <a href="#">Парапеты оцинкованные изготовление</a>
                        </li>
                        <li>
                            <a href="#">Парапеты оцинкованные изготовление</a>
                        </li>
                        <li>
                            <a href="#">Парапеты оцинкованные изготовление</a>
                        </li>
                        <li>
                            <a href="#">Парапеты оцинкованные изготовление</a>
                        </li>
                        <li>
                            <a href="#">Парапеты оцинкованные изготовление</a>
                        </li>
                        <li>
                            <a href="#">Парапеты оцинкованные изготовление</a>
                        </li>
                        <li>
                            <a href="#">Парапеты оцинкованные изготовление</a>
                        </li>
                        <li>
                            <a href="#">Парапеты оцинкованные изготовление</a>
                        </li>
                    </ul>
                </nav>
                <nav>
                    <ul class="nav__footer">
                        <li>
                            <a href="#">Парапеты оцинкованные изготовление</a>
                        </li>
                        <li>
                            <a href="#">Парапеты оцинкованные изготовление</a>
                        </li>
                        <li>
                            <a href="#">Парапеты оцинкованные изготовление</a>
                        </li>
                        <li>
                            <a href="#">Парапеты оцинкованные изготовление</a>
                        </li>
                        <li>
                            <a href="#">Парапеты оцинкованные изготовление</a>
                        </li>
                        <li>
                            <a href="#">Парапеты оцинкованные изготовление</a>
                        </li>
                        <li>
                            <a href="#">Парапеты оцинкованные изготовление</a>
                        </li>
                        <li>
                            <a href="#">Парапеты оцинкованные изготовление</a>
                        </li>
                    </ul>
                </nav>
                <nav>
                    <ul class="nav__footer">
                        <li>
                            <a href="#">Парапеты оцинкованные изготовление</a>
                        </li>
                        <li>
                            <a href="#">Парапеты оцинкованные изготовление</a>
                        </li>
                        <li>
                            <a href="#">Парапеты оцинкованные изготовление</a>
                        </li>
                        <li>
                            <a href="#">Парапеты оцинкованные изготовление</a>
                        </li>
                        <li>
                            <a href="#">Парапеты оцинкованные изготовление</a>
                        </li>
                        <li>
                            <a href="#">Парапеты оцинкованные изготовление</a>
                        </li>
                        <li>
                            <a href="#">Парапеты оцинкованные изготовление</a>
                        </li>
                        <li>
                            <a href="#">Парапеты оцинкованные изготовление</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>
