<header id="header" class="header header--fixed">
    <div class="container">
        <div class="header__inner">
            <div class="header__logo">
                <a href="https://element-ekb.ru/"><img src="assets/img/logo.png" alt="element-ekb"></a>
            </div>
            <div class="header__media">
                <ul class="social">
                    <li class="social__item">
                        <a href="#"><img src="assets/img/social/vk.svg" alt="vk"></a>
                    </li>
                    <li class="social__item">
                        <a href="#"><img src="assets/img/social/ok.png" alt="одноклассники"></a>
                    </li>
                    <li class="social__item">
                        <a href="#"><img src="assets/img/social/instagram.svg" alt="instagram"></a>
                    </li>
                    <li class="social__item">
                        <a href="#"><img src="assets/img/social/twitter.svg" alt="twitter"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <nav id="header__nav" class="header__nav">
        <div class="container">
            <ul class="nav">
                <li><a href="index.html"><img src="assets/img/home.svg" alt="Главная"></a></li>
                <li class="menu-item-has-children">
                    <a href="services.html">Гибка <span></span> металла: </a>
                    <ul class="sub-menu">
                        <li><a href="#">Парапеты оцинкованные изготовление абобы</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                    </ul>
                </li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">11</a></li>
                <li><a href="contacts.html">Контакты</a></li>
            </ul>
            <div class="header__burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </nav>
</header>
