@import "vendor/reset";
@import "vars";

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    font-size: 10px;
    line-height: 1.15;
}

body {
    font-family: Arial, sans-serif;
    background-color: $white;
}

@import "blocks/header";
@import "blocks/container";
@import "blocks/social";
@import "blocks/nav";
@import "blocks/footer";
