@import "vendor/reset";
@import "mixins";
@import "vars";

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    font-size: 10px;
    line-height: 1.15;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: $white;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

b {
    font-weight: 700;
}

img {
    width: 100%;
    height: auto;
}

.show-nav {
    overflow: hidden;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

.main {
    margin-top: var(--main-top);
}

@import "blocks/header";
@import "blocks/container";
@import "blocks/social";
@import "blocks/nav";
@import "blocks/btn";
@import "blocks/section";
@import "blocks/products";
@import "blocks/info";
@import "blocks/contacts";
@import "blocks/services";
@import "blocks/aside";
@import "blocks/commodity";
@import "blocks/footer";
